.statistics {
    table {
        color: var(--color);
        border: solid 1px var(--input-background);
    }

    th {
        background: rgba(var(--input-background-rgb), 0.3);
        border-top: solid 1px var(--input-background);
        border-bottom: solid 1px var(--input-background);

        &:first-child {
            border-left: solid 1px var(--input-background);
        }

        &:last-child {
            border-right: solid 1px var(--input-background);
        }
    }

    th,td {
        white-space: pre-wrap;
        padding:0.25rem 0.75rem;
    }

    tr:not(:last-child) td {
        border-bottom: solid 1px var(--input-background);
    }
}
