.skybox {
  width:100%;
  margin-top:-1rem;
  margin-bottom:1rem;
  display:flex;
  flex-direction: row;
  .skybox-item {
    flex-basis:100%;
    border:solid 1px var(--accent);
    position:relative;
    filter:opacity(0.4);
    padding:0.5rem;
    text-align: center;
    overflow:hidden;
    text-overflow:ellipsis;
    .icon {
      margin-right:1rem;
    }
    &:hover {
      filter:unset;
      cursor:pointer;
      background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
      box-shadow: inset 0 -3px 0 0 var(--accent) !important;
    }
    &.active {
      filter:unset;
    }
    .name {
      display:none;
    }
  }
}

@media screen and (min-width: 1200.001px)
{
  .skybox {
    height:5rem;
    .skybox-item {
      padding:unset;
      text-align: unset;
      .icon {
        left: 1rem;
        top: 0.85rem;
        font-size: 3rem;
        position: absolute;
        width: 3rem;
        text-align: center;
        margin-right:unset;
      }
      .count {
        display:block;
        font-size:3rem;
        line-height:3rem;
        padding:0;
        margin:0;
        text-align: left;
        margin-left: 5.5rem;
        position: relative;
        top: 0.25rem;
      }
      .name {
        text-align: left;
        margin-left: 5.5rem;
        font-size:0.8rem;
        display: unset;
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .skybox {
    .icon {
      display: block;
      margin: auto auto 0.5rem !important;
    }
  }
}