@namespace FileFlows.Client.Pages
@using FileFlows.Client.Components.Dashboard

@page "/system"

<PageView>

    <Head>
    </Head>

    <Body>
    
    <div class="dashboard">
        
        <SystemValueLineChart TItem="float" @ref="chartCpuUsage" Title=@lblCpuUsage  Icon="fas fa-microchip" />
        <SystemValueLineChart TItem="float" @ref="chartMemoryUsage" Title=@lblMemoryUsage SizeData=@true Icon="fas fa-memory"  />
        <SystemValueLineChart TItem="long" @ref="chartTempStorage" Title=@lblTempStorage SizeData=@true Icon="fas fa-hdd"  />

    </div>

    </Body>
</PageView>