@namespace FileFlows.Client.Pages
@using FileFlows.Client.Components.Dashboard

@page "/system"

<PageView>

    <Head>
    </Head>

    <Body>
    
    <div class="dashboard">
        
        <BoxPlot Title=@lblLibraryProcessingTimes Icon="fas fa-stopwatch" Url=@LibraryProcessingTimeUrl />
        <HeatMap Title=@lblProcessingHeatMap Icon="fas fa-calendar-alt" Url=@ProcessingHeatMapUrl />
        <SystemValueLineChartApex TItem="float" Title=@lblCpuUsage Icon="fas fa-microchip" Url=@CpuUrl />
        <SystemValueLineChartApex TItem="float" Title=@lblMemoryUsage SizeData=@true Icon="fas fa-memory" Url=@MemoryUrl />
        <SystemValueLineChartApex TItem="long"  Title=@lblTempStorage SizeData=@true Icon="fas fa-hdd"  Url=@TempStorageUrl  />
    </div>

    </Body>
</PageView>