@namespace FileFlows.Client.Pages
@using FileFlows.Client.Components.Dashboard

@page "/system"

<PageView>

    <Head>
    </Head>

    <Body>
    
    <div class="dashboard">
        
        <SystemValueLineChartApex TItem="float" @ref=chartCpuUsage Title=@lblCpuUsage  Icon="fas fa-microchip" Url=@CpuUrl />
        

        @if(Data != null && false){
            <SystemValueLineChart TItem="float" @ref="chartMemoryUsage" Title=@lblMemoryUsage SizeData=@true Icon="fas fa-memory"  />
            <SystemValueLineChart TItem="long" @ref="chartTempStorage" Title=@lblTempStorage SizeData=@true Icon="fas fa-hdd"  />
            <BoxPlot Data="@Data.LibraryProcessingTimes" Title=@lblLibraryProcessingTimes Icon="fas fa-stopwatch" />
        }
    </div>

    </Body>
</PageView>