.input-file-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.input-file-wrapper ::deep > div {
  flex-grow: 1;
}
.input-file-wrapper ::deep button {
  width: 3rem;
  margin: 0;
  padding: 0;
}
