.input-file-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width:40rem;

    ::deep {
        > div {
            flex-grow: 1;
        }

        button {
            width: 3rem;
            margin: 0;
            padding: 0;
        }
    }
    
}
