@namespace FileFlows.Client.Components.Inputs
@inherits Input<string>

<InputWrapper Input="@this">
    <div class="input-file-wrapper">
        <VariableInput Uid="@Uid" Variables=@Variables @bind-Value="Value" Placeholder="@Placeholder" />
        <RadzenButton Click=@Browse Text="..." />
    </div>
</InputWrapper>
