.library {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    margin: 0 0.5rem;
    line-height: 2.5rem;
    border-top: solid 1px var(--input-background);

    &.total {
        font-weight: 600;
    }


    .name {
        width: 10rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .bar {
        flex-grow: 1;
        position: relative;
        height: 1.5rem;
        margin: auto;
        border-radius: 0.5rem;
        overflow: hidden;

        > div {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }


        &:not(.grew) {

            .bar-original {
                background-color: var(--input-background);
                box-shadow: inset 0 3px 3px 3px rgb(0 0 0 / 20%);
            }

            .bar-final {
                background: repeating-linear-gradient( 45deg, 
                    rgba(var(--accent-rgb), 0.7), 
                    rgba(var(--accent-rgb), 0.7) 3px, 
                    rgba(var(--accent-rgb), 0.3) 3px, 
                    rgba(var(--accent-rgb), 0.3) 6px 
                );
                box-shadow: inset 0 5px rgb(255 255 255 / 20%);
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }

        &.grew {
            .bar-original {
                z-index: 2;
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                background: repeating-linear-gradient( 45deg, rgba(155, 0, 0), rgba(155, 0, 0) 20px, rgba(100, 0, 0) 20px, rgba(100, 0, 0) 40px );
                box-shadow: inset 0 5px rgb(255 255 255 / 20%);
            }

            .bar-final {
                z-index: 3;
                background: repeating-linear-gradient( 45deg, rgb(100, 0, 0), rgb(100, 0, 0) 3px, rgb(50, 0, 0) 3px, rgb(50, 0, 0) 6px );
                box-shadow: inset 0 3px 3px 3px rgb(0 0 0 / 20%);
            }
        }
    }
}
