@namespace FileFlows.Client.Components.Inputs
@inherits Input<string>

<InputWrapper Input="@this">
    <div class="@(Field?.FlexGrow == true ? "flex-grow" :"")">
        <textarea id=@Uid @bind-value="Value" @bind-value:event="oninput" placeholder="@GetPlaceholder()" rows="8"  @onkeydown="OnKeyDown" readonly="@(ReadOnly ? "readonly" : null)"></textarea>
    </div>
</InputWrapper>
