@namespace FileFlows.Client.Components.Inputs
@using FileFlows.Client.Components.Inputs.InputWidgetPreviews
@using FileFlows.Shared.Widgets
@using Humanizer
@inherits Input<bool>

<div class="input-Widget" @onclick=@ToggleValue @onclick:preventDefault @onclick:stopPropagation>
    <span class="title">
        <div class="flow-switch-wrapper">
            <FlowSwitch @bind-Value="@Value"/>
        </div>
        <label>@Label</label>
    </span>
    <div class="preview @Type">
        @switch (Type)
        {
            case WidgetType.Bar:
                <PreviewBarChart />
                break;
            case WidgetType.BoxPlot:
                <PreviewBoxPlot />
                break;
            case WidgetType.HeatMap:
                <PreviewHeatMap />
                break;
            case WidgetType.LibraryFileTable:
                <PreviewLibraryFileTable />
                break;
            case WidgetType.PieChart:
                <PreviewPieChart />
                break;
            case WidgetType.Processing:
                <PreviewProcessing />
                break;
            case WidgetType.TimeSeries:
                <PreviewTimeSeries />
                break;
            case WidgetType.TreeMap:
                <PreviewTreeMap />
                break;
        }
        
    </div>
</div>     