@namespace FileFlows.Client.Components.Inputs.InputWidgetPreviews

<table>
    <thead>
        <tr>
            <th class="name">Name</th>
            <th class="time" style="width: 3rem;">Time</th>
            <th class="size" style="width: 3rem;">Size</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>File 1</td>
            <td style="width: 3rem;"><a>05:24:56</a></td>
            <td style="width: 3rem;">
                <div class="flow-bar ">
                    <div class="bar-value" style="width: calc(23.3658% - 2px);"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>File 2</td>
            <td style="width: 3rem;"><a>00:40:22</a></td>
            <td style="width: 3rem;">
                <div class="flow-bar ">
                    <div class="bar-value" style="width: calc(50.7016% - 2px);"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>File 3</td>
            <td style="width: 3rem;"><a>02:55:22</a></td>
            <td style="width: 3rem;">
                <div class="flow-bar ">
                    <div class="bar-value" style="width: calc(21.725% - 2px);"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>File 4</td>
            <td style="width: 3rem;"><a>00:10:28</a></td>
            <td style="width: 3rem;">
                <div class="flow-bar ">
                    <div class="bar-value" style="width: calc(39.8046% - 2px);"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>File 5</td>
            <td style="width: 3rem;"><a>00:00:58</a></td>
            <td style="width: 3rem;">
                <div class="flow-bar ">
                    <div class="bar-value" style="width: calc(40.1382% - 2px);"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>File 6</td>
            <td style="width: 3rem;"><a>00:00:10</a></td>
            <td style="width: 3rem;">
                <div class="flow-bar ">
                    <div class="bar-value" style="width: calc(92.8468% - 2px);"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
