@namespace FileFlows.Client.Components.Inputs.InputWidgetPreviews

<div>
    <table style="height: unset; width: calc(100% - 1rem); margin: 0px 0.25rem;">
        <tbody>
            <tr>
                <td class="label" style="width: 10rem; font-weight: 600; text-transform: uppercase;" colspan="2">NVIDIA GPU</td>
            </tr>
            <tr>
                <td class="label" style="width: 10rem;"><i class="fas fa-thermometer-half"
                        style="width: 1.5rem;text-align: center;"></i> Temperature</td>
                <td class="label" style="text-align: right;">68 °C</td>
            </tr>
            <tr>
                <td class="label" style="width: 10rem;"><i class="fas fa-memory"
                        style="width: 1.5rem;text-align: center;"></i> Memory</td>
                <td class="label" style="text-align: right;">69 %</td>
            </tr>
            <tr>
                <td class="label" style="width: 10rem;"><i class="fas fa-fan"
                        style="width: 1.5rem;text-align: center;"></i> Fan Speed</td>
                <td class="label" style="text-align: right;">55 %</td>
            </tr>
            <tr>
                <td class="label" style="width: 10rem;"><i class="fas fa-running"
                        style="width: 1.5rem;text-align: center;"></i> Processes</td>
                <td class="label" style="text-align: right;">3</td>
            </tr>
        </tbody>
    </table>
</div>