.flow-schedule {
  user-select: none;
}

td {
  border: solid 1px var(--input-background);
}

table {
  width: 100%;
  table-layout: fixed;
  font-size: min(1rem, 2vw) !important;
}

thead {
  text-align: center;
}

.filled {
  background: rgba(var(--accent-rgb), 0.5);
}

.highlighted {
  background: var(--accent);
}

.hour-0 {
  border-right: none;
}

.hour-1, .hour-2 {
  border-left: none;
  border-right: none;
}

.hour-3 {
  border-left: none;
}

.day-label {
  width: min(5vw, 3rem);
  border: none;
}

.meridian th + th {
  background: var(--input-background);
}
.meridian .spacer {
  background: none;
}

.spacer {
  width: 0.5rem;
  border-top: none;
  border-bottom: none;
}
