.settings {
    height: 100%;

    ::deep {
        .content {
            margin: auto 1rem;
        }
        .btn-test {
            margin:2rem 0 0 14rem;
            .btn {
                width: auto;
                min-width: 9rem;
                + .btn {
                    margin-left:1rem;
                }
            }
        }
        
        .row + .row {
            margin-top: 1rem;
        }

        .flow-tabs {
            height: 100%;
            .row {
                margin-right:0;
                margin-left:0;
            }
            .flow-tabs-content {
                position: relative;
                height: 100%;
            }

            .flow-tab.active {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 1rem;
                left: 1rem;
                overflow: auto;
                padding-right:1rem;
            }
            hr {
                margin:2rem 4rem 2rem 0;
            }
        }
    }
}

@media (max-width:577.9999px){
    .settings ::deep {
        .btn-test {
            text-align: center;
            margin:2rem 0 0;
            .btn {
                width:100%;
            }
        }
    }
}
