@namespace FileFlow.Client.Pages
@page "/settings"

<PageView>

    <Head>
        <RadzenButton class="save-button" BusyText="@lblSaving" IsBusy=@IsSaving Click=@Save Text="@lblSave" />
    </Head>

    <Body>
        <div class="settings">

            <RadzenTemplateForm Data="@Model">
                <Fieldset Title="Pages.Settings.Labels.Directories">
                    <InputFile @bind-Value="@Model.TempPath" Directory="true" Label="Pages.Settings.Fields.TempPath" />
                </Fieldset>
            </RadzenTemplateForm>
        </div>
    </Body>

</PageView>