*/bin
*/obj
*.suo
*.sqlite
obj/
bin/
Server/Plugins/
VideoTests/*
zpublish/*
wpublish/*
dockerbuild.ps1
/.vs/FileFlows
dockerbuild-public.ps1
docker.xml
*.user
/xdemopublish
/Server/Properties/PublishProfiles/Default Settings.pubxml
*.backup
/deploy
/build/installer/fileflows-node-install.iss
/build/installer/install.iss
/build/Installers/.vs/FileFlowInstallers/v17/TestStore/0
