.flow-toasts {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
}

.flow-toast {
    max-width: 20rem;
    width: 30vw;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border: solid 1px var(--accent);
    color: var(--accent);
    background:var(--base);
    position:relative;
    word-break:break-all;
}
.flow-toast-error {
    color: var(--error);
    border-color: var(--error);
}
.flow-toast-warning {
    color: var(--warning);
    border-color: var(--warning);
}
.flow-toast-success {
    color: var(--success);
    border-color: var(--success);
}
.flow-toast-info {
    color: var(--info);
    border-color: var(--info);
}
.flow-toast + .flow-toast {
    margin-top: 1rem;
}

.dismiss {
    position:absolute;
    top:0.8rem;
    left:0.75rem;
    cursor:pointer;
}

.flow-toast.dismissing {
    animation-duration: 1.2s;
    animation-name: fadeOutRight;
}
@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    50% {
        opacity: 0;
        transform: translateX(20rem);
    }
    100% {
        opacity: 0;
        transform: translateX(20rem);
    }
} 