@namespace ViWatcher.Client.Components

<div id="@Part.Uid" style="position:absolute;left:@(Part.xPos)px;top:@(Part.yPos)px"                             
    @onclick="() => Select()"  @onclick:stopPropagation
    class="flow-part @Part.Type @(Selected ? "selected" : "") size-@(Math.Max(Part.Inputs, Part.Outputs))">
    @if(Part.Inputs > 0)
    {
        <div class="inputs">
            @for(int i=1;i<=Part.Inputs;i++){
                <div class="input input-@i" @onclick:preventDefault @onclick:stopPropagation @onmousedown:preventDefault @onmousedown:stopPropagation onmousedown="ViFlow.ioDown(event, true)"></div>
            }
        </div>
    }
    <div class="icon-wrapper"><span class="icon fas fa-chevron-right"></span></div>
    <span class="name">@Part.Name</span>
    @if(Part.Outputs > 0)
    {
        <div class="outputs">
            @for(int i=1;i<=Part.Outputs;i++){
                <div class="output output-@i" @onclick:preventDefault @onclick:stopPropagation @onmousedown:preventDefault @onmousedown:stopPropagation onmousedown="ViFlow.ioDown(event, false)"></div>
            }
        </div>
    }
    <div class="draggable"></div>
</div>