.flow-part {
    display:flex;
    flex-direction: row;
    .icon-wrapper {
        width: 2rem;
        border-right: solid 3px;
        margin: 0;
        padding-left: 0.25rem;
        display:flex;
        .icon {
            margin:auto;
        }
    }   
    .name {
        flex-grow:1;
        margin:auto;
    }

    .draggable {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    * {
        user-select: none;
    }
    &.size-1 {
        height:2.5rem;
    }
    @for $i from 2 through 20 {
        &.size-#{$i} {
            height:calc(#{$i} * 2rem);
        }
    }
}

.Logic:not(.selected)  {
    .icon-wrapper, .input, .output {
        border-color:var(--flow-logic) !important;
    }
}
.Input:not(.selected) 
{
    .icon-wrapper, .input, .output  {
        border-color:var(--flow-input) !important;
    }
}
.Output:not(.selected) 
{ 
    .icon-wrapper, .input, .output  {
        border-color:var(--flow-output) !important;
    }
}
.Process:not(.selected) 
{
    .icon-wrapper, .input, .output  {
        border-color:var(--flow-process) !important;
    }
}
.selected 
{
    .icon-wrapper, .input, .output  {
        border-color:var(--accent) !important;
    }
}

.inputs {
    left:-0.65rem;
}
.outputs{    
    right:-0.65rem;
}

.inputs, .outputs {
    position:absolute;
    width:1rem;
    top:0;
    bottom:0;
    display:flex;
    flex-direction: column;
    .input, .output {
        margin:auto;
        width:1rem;
        height:1rem;
        border-radius:0.25rem;
        background-color:var(--base);
        border:solid 2px;
    }
}