@namespace FileFlows.Client.Components.Dashboard

@if (string.IsNullOrEmpty(lblPauseLabel) == false)
{
    <button @onclick=@TogglePaused class="btn btn-pause">
        @if (SystemInfo.IsPaused)
        {
            <i class="fas fa-play"></i>
        }
        else
        {
            <i class="fas fa-pause"></i>
        }
        @lblPauseLabel
    </button>
}