.flow-bar {
    height: 1rem;
    position: relative;
    top: 10px;
    width:calc(100% - 10px);
}

@media (max-width: 849.99px)
{
    .btn-search {
        position: fixed;
        top: 0.75rem;
        z-index: 1000000;
        right: 4.5rem;
        width: 9rem;
        border-color: var(--border-color);
    }    
}