@namespace ViWatcher.Client.Pages
@page "/code-editor"
@using BlazorMonaco

<PageTitle>Page Editor</PageTitle>

<PageView>
    <Head>
        <RadzenButton class="save-button" BusyText="@lblSaving" 
            IsBusy=@IsSaving Click=@Save Text="@lblSave" />
    </Head>
    <Body>
        <div class="code-editor">
            <MonacoEditor @ref="Editor" ConstructionOptions="EditorConstructionOptions" OnDidInit="OnEditorInit" />
        </div>
    </Body>

</PageView>