@namespace FileFlow.Client.Components.Inputs
@inherits Input<string>

<InputWrapper Input="@this">
    <div>
        <RadzenTextBox @bind-Value="Value" @oninput="@(args => ClearError())" Placeholder="@Placeholder" />
    </div>
</InputWrapper>
