@namespace FileFlows.Client.Components.Inputs
@inherits Input<string>

<InputWrapper Input="@this">
    <div>
        <input type="text" id=@Uid @bind-value="Value" @bind-value:event="oninput" autocomplete="off" @onkeydown="OnKeyDown"
        readonly="@(ReadOnly ? "readonly" : null)" placeholder="@GetPlaceholder()"  />
    </div>
</InputWrapper>
