div.row {
  flex-grow: 1;
  flex-direction: column;
}

pre {
  height: 100%;
  color: var(--color);
  overflow: visible;
}

::deep .line {
  display: block;
  white-space: pre;
  font-family: monospace;
}
::deep .line * {
  white-space: pre;
}
::deep .key {
  color: var(--pink);
}
::deep .value {
  color: rgba(var(--color-rgb), 0.6);
}
::deep .http-method {
  color: var(--yellow);
}
::deep .heading {
  color: var(--info);
}
::deep .date {
  color: var(--info);
}
::deep .logtype-INFO {
  color: var(--success);
}
::deep .logtype-ERRR {
  color: var(--error);
}
::deep .logtype-WARN {
  color: var(--warning);
}
::deep .logtype-DBUG {
  color: var(--blue);
}
::deep .url {
  color: var(--blue);
  text-decoration: underline;
}
::deep .file {
  color: var(--teal);
}
::deep .time {
  color: var(--yellow);
}
::deep .arrow {
  font-weight: bold;
}
