.library-files {
  display: flex;
  flex-direction: column;
}

table {
  color: var(--color);
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  margin: 0;
}
table td, table th {
  border: none !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1rem;
  font-size: 0.85rem;
  padding: 0.5rem;
  border-bottom: solid 1px rgba(var(--color-rgb), 0.1) !important;
}
table tr:last-child td {
  border-bottom: none !important;
}

.flow-bar {
  height: 1rem;
}
