.input-filesize-wrapper{
  display:flex;
  flex-direction: row;
}

.filesize-number {
  margin-right:1px;
  flex-grow:1;
}

.filesize-unit {
  width:10rem;
}

input {
  width: 100%;
  height: 2.1875rem;
  line-height: 1.5;
  font-size: 1rem;
  padding: 0.1875rem 0.625rem;
  max-width: 40rem;

  &:read-only {
    filter: opacity(0.5);
  }
}


select {
  width: 100%;
  max-width: 40rem;
  background-color: var(--input-background) !important;
  color: var(--color) !important;
  height: 2.1875rem;
  line-height: 1.5;
  font-size: 1rem;
  border-color: transparent;

  &:focus {
    outline: 1px solid var(--accent);
  }

  &.select-one {
    color: rgba(var(--color-rgb), 0.3) !important;
  }

  option {
    &:not(.select-one) {
      color: var(--color) !important;
    }

    &:checked {
      background-color: rgba(var(--accent-rgb), 0.3);
    }
  }
}