.processing-node {
  margin-right: 0.5rem;
}
.processing-node.status-error {
  color: var(--danger);
}
.processing-node.status-warning {
  color: var(--warning);
}
.processing-node.status-ok {
  color: var(--success);
}