a, span {
    display: block;
    margin: 0.4rem auto auto;
    color: rgba(var(--color-rgb), 0.7);

    &:not(:hover){
        .fa-clipboard {
            display: none;
        }
    }
    .fa-clipboard {
        color:var(--info);
        padding-left:0.25rem;
        cursor:pointer;
    }
}

.pre-text{
    white-space:pre-wrap;
}
