@namespace FileFlows.Client.Components

@if(UpdateAvailable && Dismissed == false){
    <div class="update-available">
        @lblUpdateAvailable
        <a target="_blank" href="https://fileflows.com/downloads" rel="noreferrer">@LatestVersion.ToString()</a>
        @lblUpdateAvailableSuffix
        <span class="dismiss fas fa-times" @onclick="Dismiss"></span>
    </div>
}