@namespace FileFlows.Client.Pages
@page "/log"

<PageView FullWidth=true>
    <Head>
        @if (String.IsNullOrEmpty(DownloadUrl) == false)
        {
            <a href="@DownloadUrl" class="btn"><span>@lblDownload</span></a>
        }
    </Head>
    <Body>
        <div class="log">
            @LogText
        </div>
    </Body>

</PageView>