@namespace FileFlows.Client.Pages
@page "/log"
@using FileFlows.Plugin

<PageView FullWidth=true>
    <Head>
        <select class="btn-select" @onchange="ChangeLogType">
            <option value=@((int)LogType.Error)>Error</option>
            <option value=@((int)LogType.Warning)>Warning</option>
            <option selected value=@((int)LogType.Info)>Info</option>
            <option value=@((int)LogType.Debug)>Debug</option>
        </select>
        @if (String.IsNullOrEmpty(DownloadUrl) == false)
        {
            <a href="@DownloadUrl" class="btn" target="_blank"><span>@lblDownload</span></a>
        }
    </Head>
    <Body>
        <div class="log html-log">
            @((MarkupString)LogText)
        </div>
    </Body>

</PageView>