@namespace ViWatcher.Client.Components

<div class="page-view">
    <div class="top-row">
        <span class="title">
            @if(string.IsNullOrEmpty(Menu?.Active?.Icon) == false){
                <span class="icon @Menu.Active.Icon"></span>
            }
            @Menu?.Active?.Title
        </span>
        <span class="other">
            @Head
        </span>
    </div>

    <div class="content">
        @Body
    </div>
</div>