@namespace FileFlow.Client.Components

@{
    string title = string.IsNullOrEmpty(Title) == false ? Title : Menu?.Active?.Title;
}
<ViContainer Title="@title" Icon="@Menu?.Active?.Icon" FullWidth=@FullWidth>

    <Head>
        @Head
    </Head>

    <Body>
        @Body
    </Body>
</ViContainer>