---
--- 

.side-bar {
 
    overflow: auto;
    position: absolute;
    left: 0;
    top: 4rem;
    bottom: 0;
    padding: 1rem;
    width:var(--sidebar-width);
    border-right:solid 1px var(--border-color);
    ul {
        list-style: none;
        margin: 0 0 0 0.5rem;
        padding: 0;
    }
    a {
        text-decoration: none;
        color:#a3a3a3;
        &:hover {
            text-decoration: underline;
            color:var(--accent);
        }
    }

    li {
        padding: 0.25rem 0;
    }

    .plugin-nodes
    {

    }    
    
    .plugin-node{
        
    }

    .plugin-node-subs {

    }
    .plugin-node-sub {

    }
}