---
--- 

@font-face {
    font-family: 'Source Sans Pro';
    src:url('/webfonts/SourceSansPro-Regular.woff') format('woff');
}

:root {
    --color: rgb(240, 240, 240);
    --color-rgb: 240, 240, 240;
    --color-darker: rgb(220, 220, 220);
    --color-darke-rgb: 220, 220, 220;
    --color-darkest: rgb(160, 160, 160);
    --color-darkest-rgb: 160, 160, 160;
    --base: rgb(17, 18, 20);
    --base-rgb: 7, 18, 20;
    --base-darker: rgb(6, 17, 19);
    --base-darker-rgb: 6, 17, 19;
    --base-darkest: rgb(4, 11, 12);
    --base-darkest-rgb: 4, 11, 12;
    --accent: rgb(255, 0, 144);
    --accent-rgb: 255, 0, 144;
    --border-color: rgba(var(--color-rgb), 0.1);
    --input-background: rgb(49, 49, 49);
    --input-background-rgb: 49, 49, 49;
    --primary: #0366d6;
    --error: #ff4d76;
}

html {
    font-size: 14px;
    font-family: "Source Sans Pro",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    min-height: 100%;
}

body {
    color: var(--color);
    background: var(--base);
    height: 100vh;
    min-height: 100vh;
}

a {
    color: var(--accent);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: var(--accent);
    }
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page-content {
    margin:8rem;
}

@media (min-width:768px) and (max-width:1000px) {
    .container {
        max-width:760px !important;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .nav-item.github {
        display: none;
    }
}



section.download-instructions {
    .container > div {
        display: none;

        &:not(.no-border) h3 {
            margin-top: 7rem;
            padding-top: 5rem;
            border-top: solid 1px rgba(var(--color-rgb), 0.1);
        }
    }

    h5 {
        margin-top: 2rem;
    }

    code {
        white-space: pre;
        text-align: left;
        display: inline-block;
        color: var(--color);
        background: rgba(var(--color-rgb), 0.1);
        width: 100%;
        padding: 1rem;
        margin: 1rem;
    }

    table {
        th, td {
            border: solid 1px;
            padding: 0.5rem;
        }

        margin-bottom: 2rem;
    }

    margin-bottom: 3rem;
}

.main { 
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    top: 4rem;
    left: 14rem;
    bottom: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    section.content {
        flex-grow:1;
    }
}

footer {
    text-align: center;
    margin:1rem 0;
}