.flow-container {
    display:flex;
    flex-direction: row-reverse;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background:rgba(var(--color-rgb), 0.03);
}

.flow-name {
    flex-grow:1;
    margin-left:0.5rem;
    background:transparent !important;
    border-bottom:solid 1px var(--accent) !important;
    &:focus {
        outline:unset !important;
    }
}

canvas {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.flow-elements {
    width: 20vw;
    min-width: 12rem;
    max-width: 18rem;
    border-left: 1px solid var(--border-color);
    display:flex;
    flex-direction:column;

    .flow-elements-filter {
        margin: 0 0.5rem;
        padding: 0.5rem 0;
        border-bottom: solid 1px var(--border-color);
        position: relative;

        input {
            width: 100%;
        }

        .fas {
            position: absolute;
            right: 0.5rem;
            top: 1.1rem;
            font-size: 0.8rem;
            color: rgba(var(--color-rgb), 0.5);
        }
    }


    ul {
        flex-grow:1;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }
}

.flow-parts {
    background:var(--darkest);
    flex-grow:1;
    position: relative;
    overflow: auto;
}

::deep .flow-part, .flow-element {
    text-align: center;
    border-radius: 0.75rem;
    min-width:12rem;
    border:solid 3px transparent;
    background: var(--base);
    &.Logic {
        border-color:var(--flow-logic);
    }
    &.Input {
        border-color:var(--flow-input);
    }
    &.Output {
        border-color:var(--flow-output);
    }
    &.Process {
        border-color:var(--flow-process);
    }
    &.BuildPart {
        border-color:var(--flow-build-part);
    }
    &.BuildStart {
        border-color:var(--flow-build-start);
    }
    &.BuildEnd {
        border-color:var(--flow-build-end);
    }
    &.Communication {
        border-color:var(--flow-communication);
    }
    &.Failure {
        border-color:var(--flow-failure);
    }
    &.Script {
        border-color:var(--flow-script);
    }
}
.flow-element {
    padding: 0.25rem 0.25rem;
    margin: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding-left: 2.25rem;

    .icon-wrapper {
        width: 2rem;
        min-width:2rem;
        border-right: solid 3px;
        margin-right: 0.25rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        .icon {
            padding-top:3px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &.Logic .icon-wrapper {
        border-color: var(--flow-logic);
    }

    &.Input .icon-wrapper {
        border-color: var(--flow-input);
    }

    &.Output .icon-wrapper {
        border-color: var(--flow-output);
    }

    &.Process .icon-wrapper {
        border-color: var(--flow-process);
    }
    &.BuildEnd .icon-wrapper {
        border-color: var(--flow-build-end);
    }
    &.BuildStart .icon-wrapper {
        border-color: var(--flow-build-start);
    }
    &.BuildPart .icon-wrapper {
        border-color: var(--flow-build-part);
    }
    &.Communication .icon-wrapper {
        border-color: var(--flow-communication);
    }
    &.Failure .icon-wrapper {
        border-color: var(--flow-failure);
    }
    &.Script .icon-wrapper {
        border-color: var(--flow-script);
    }
    .label {
        flex-grow: 1;
    }
    
    &.obsolete {
        .ribbon
        {
            display:unset;
        }
        .ribbon-content::before { 
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f00d";
        }
    }
}

::deep .flow-part {
    &.selected {
        border-color:var(--accent) !important;
        background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
        background-color: unset;
        box-shadow: 0 3px 10px rgba(var(--accent-rgb), 0.1);
    }
}


.ribbon {
    position: absolute;
    right: 8px;
    top: -3px;

    filter: drop-shadow(2px 3px 2px rgba(black, 0.5));
    display:none;

    > .ribbon-content {
        color: white;
        font-size: .75rem;
        text-align: center;
        font-weight: 400;
        background: #a90101 linear-gradient(45deg, rgba(black, 0) 0%, rgba(white, 0.25) 100%);
        padding: 8px 2px 4px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 4px), 0 100%);
        width: 20px;
        min-height: 20px;
        transition: clip-path 1s, padding 1s, background 1s;
    }
}


.group {
    padding: .25rem 0;
    margin: .5rem;
    text-align: center;
}
.flow-element + .group {
    border-top:1px solid var(--border-color);
    margin-top:1.25rem;
}

::deep .flow-part {
    display: flex;
    flex-direction: row;
    outline: unset !important;

    .icon-wrapper {
        width: 2rem;
        min-width: 2rem;
        border-right: solid 3px;
        margin: 0;
        display: flex;

        .icon {
            margin: auto;
        }
    }

    .name {
        flex-grow: 1;
        margin: auto 0.5rem;
        padding: 0.5rem 0;
    }

    .draggable {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    * {
        user-select: none;
    }

    &.vertical {
        min-height: 4rem;

        &.size-1, &.size-2, &.size-3 {
            width: 12rem;
        }

        @for $i from 4 through 8 {
            &.size-#{$i} {
                width: calc(12rem + #{$i}rem);
            }
        }
        &.size-9 {
            width: calc(12rem + 11rem);
        }
        &.size-10 {
            width: calc(12rem + 13rem);
        }
    }

    &:not(.vertical) {
        &.size-1 {
            height: 2.5rem;
        }

        @for $i from 2 through 20 {
            &.size-#{$i} {
                height: calc(#{$i} * 2rem);
            }
        }
    }

    &.Logic:not(.selected) {
        .icon-wrapper, .input > div, .output > div {
            border-color: var(--flow-logic) !important;
        }

        .connected > div {
            background-color: var(--flow-logic) !important;
        }
    }

    &.Input:not(.selected) {
        .icon-wrapper, .input > div, .output > div {
            border-color: var(--flow-input) !important;
        }

        .connected > div {
            background-color: var(--flow-input) !important;
        }
    }

    &.Output:not(.selected) {
        .icon-wrapper, .input > div, .output > div {
            border-color: var(--flow-output) !important;
        }

        .connected > div {
            background-color: var(--flow-output) !important;
        }
    }

    &.Process:not(.selected) {
        .icon-wrapper, .input > div, .output > div {
            border-color: var(--flow-process) !important;
        }

        .connected > div {
            background-color: var(--flow-process) !important;
        }
    }

    &.BuildStart:not(.selected) {
        .icon-wrapper, .input > div, .output > div {
            border-color: var(--flow-build-start) !important;
        }

        .connected > div {
            background-color: var(--flow-build-start) !important;
        }
    }

    &.BuildEnd:not(.selected) {
        .icon-wrapper, .input > div, .output > div {
            border-color: var(--flow-build-end) !important;
        }

        .connected > div {
            background-color: var(--flow-build-end) !important;
        }
    }

    &.BuildPart:not(.selected) {
        .icon-wrapper, .input > div, .output > div {
            border-color: var(--flow-build-part) !important;
        }

        .connected > div {
            background-color: var(--flow-build-part) !important;
        }
    }

    &.Communication:not(.selected) {
        .icon-wrapper, .input > div, .output > div {
            border-color: var(--flow-communication) !important;
        }

        .connected > div {
            background-color: var(--flow-communication) !important;
        }
    }

    &.Failure:not(.selected) {
        .icon-wrapper, .input > div, .output > div {
            border-color: var(--flow-failure) !important;
        }

        .connected > div {
            background-color: var(--flow-failure) !important;
        }
    }
    
    &.Script:not(.selected) {
        .icon-wrapper, .input > div, .output > div {
            border-color: var(--flow-script) !important;
        }

        .connected > div {
            background-color: var(--flow-script) !important;
        }
    }

    &.selected {
        .icon-wrapper, .input > div, .output > div {
            border-color: var(--accent) !important;
        }

        .connected > div {
            background-color: var(--accent) !important;
        }
    }

    .inputs {
        left: -0.65rem;
    }

    .outputs {
        right: -0.65rem;
    }


    .inputs, .outputs {
        position: absolute;
        top: 0;
        bottom: 0;

        .input, .output {
            margin: auto;

            > div {
                width: 1rem;
                height: 1rem;
                margin: 0.5rem;
                border-radius: 0.25rem;
                background-color: var(--base);
                border: solid 2px;
            }
        }
    }

    &.vertical {
        .inputs, .outputs {
            top: -1rem;
            bottom: unset;
            left: 30px;
            right: 0;
            width: unset;
            z-index:2;
        }
        
        
        .outputs {
            top: unset;
        }
    }
}

::deep {
    .output > div:hover {
        cursor: crosshair;
    }

    .drawing-line .input > div:hover {
        cursor: crosshair;
    }

    .info-box {
        &::before {
            background: rgba(var(--accent-rgb), 0.3);
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-top-right-radius: 54px;
            z-index: -1;
        }

        position: fixed;
        bottom: 10px;
        left: 250px;
        padding: 4px 20px 4px 8px;
        border-top: solid 3px var(--accent);
        border-right: solid 3px var(--accent);
        border-top-right-radius: 54px;
        background: var(--base);
        max-width: min(60rem, calc(90% - 250px - 21vw));
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span + span {
            margin-left: 0.5rem;
        }

        br {
            display: inline;
            content: ' ';
        }
    }
}

@media screen and (max-width:850px)
{
    ::deep {
        .info-box {
            left: 0;
            max-width: 70%;
        }
    }
}

#flow-zoomer {
    position: fixed;
    top: 3.5rem;
    left: 250px;
    background: var(--base);
    padding: 0.5rem 0;
    width: 16rem;
    overflow: hidden;
    border-bottom-right-radius:1rem;

    ::deep {
        .slider-wrapper {
            transform: scale(0.75);
            position: relative;
            left: -1rem;
            width: 18rem;
            white-space: nowrap;
        }
    }
}
.flow-container.has-collapsed-menu {
    #flow-zoomer
    {
        left: 3.5rem;
    }
    ::deep .info-box
    {
        left: calc(3.5rem + 3px)
    }
}



::deep .flow-part {
    position:relative;
    .input, .output {
        position:absolute;
    }
    .input, .outputs-1 .output {
        left:45px;
    }
    .outputs {
        bottom: 13px !important;
    }

    .outputs-2 {
        .output-1 {
            left:15px;
        }
        .output-2 {
            left:75px;
        }
    }
    .outputs-3 {
        .output-1 {
            left:5px;
        }
        .output-2 {
            left:45px;
        }
        .output-3 {
            left:85px;
        }
    }
    &.size-4 .input {
        left:75px;
    }
    .outputs-4 {
        .output-1 {
            left:5px;
        }
        .output-2 {
            left:55px;
        }
        .output-3 {
            left:105px;
        }
        .output-4 {
            left:155px;
        }
    }
    &.size-5 .input {
        left:85px;
    }
    .outputs-5 {
        .output-1 {
            left:5px;
        }
        .output-2 {
            left:45px;
        }
        .output-3 {
            left:85px;
        }
        .output-4 {
            left:125px;
        }
        .output-5 {
            left:165px;
        }
    }
    &.size-6 .input {
        left:95px;
    }
    .outputs-6 {
        .output-1 {
            left:15px;
        }
        .output-2 {
            left:45px;
        }
        .output-3 {
            left:75px;
        }
        .output-4 {
            left:115px;
        }
        .output-5 {
            left:145px;
        }
        .output-6 {
            left:175px;
        }
    }
    &.size-7 .input {
        left:105px;
    }
    .outputs-7 {
        .output-1 {
            left:5px;
        }
        .output-2 {
            left:35px;
        }
        .output-3 {
            left:65px;
        }
        .output-4 {
            left:95px;
        }
        .output-5 {
            left:125px;
        }
        .output-6 {
            left:155px;
        }
        .output-7 {
            left:185px;
        }
    }
    &.size-8 .input {
        left:105px;
    }
    .outputs-8 {
        .output-1 {
            left:5px;
        }
        .output-2 {
            left:35px;
        }
        .output-3 {
            left:65px;
        }
        .output-4 {
            left:95px;
        }
        .output-5 {
            left:125px;
        }
        .output-6 {
            left:155px;
        }
        .output-7 {
            left:185px;
        }
        .output-8 {
            left:215px;
        }
    }

    &.size-9 .input {
        left:125px;
    }
    .outputs-9 {
        .output-1 {
            left:5px;
        }
        .output-2 {
            left:35px;
        }
        .output-3 {
            left:65px;
        }
        .output-4 {
            left:95px;
        }
        .output-5 {
            left:125px;
        }
        .output-6 {
            left:155px;
        }
        .output-7 {
            left:185px;
        }
        .output-8 {
            left:215px;
        }
        .output-9 {
            left:245px;
        }
    }

    &.size-10 .input {
        left:135px;
    }
    .outputs-10 {
        .output-1 {
            left:5px;
        }
        .output-2 {
            left:35px;
        }
        .output-3 {
            left:65px;
        }
        .output-4 {
            left:95px;
        }
        .output-5 {
            left:125px;
        }
        .output-6 {
            left:155px;
        }
        .output-7 {
            left:185px;
        }
        .output-8 {
            left:215px;
        }
        .output-9 {
            left:245px;
        }
        .output-10 {
            left:275px;
        }
    }
}