@namespace FileFlows.Client.Components

<form class="search-pane @(Visible ? "visible" : "hidden")" @onsubmit=@Search @onkeydown=@OnKeyDown>
    <div class="search-head">
        <span class="title">@lblSearch</span>
        <span class="close" @onclick=@ToggleSearch></span>
    </div>
    <div class="search-fields">
        @ChildContent
    </div>

    <div class="search-submit">
        <button class="btn">@lblSearch</button>
    </div>
</form>