@use 'blocker';
@use 'inputs';
@use 'buttons';
@use 'modal';
@use 'pointer';
@use 'bar';
@use 'html-log';

@font-face {
    font-family: 'Source Sans Pro';
    src:url('webfonts/SourceSansPro-Regular.woff') format('woff');
}

html {
    overflow: hidden;
}

@media screen and (max-width: 849.99px) {
    html, body, #app, .page{
        height:100%;
    }
}

html, body {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight:400;
    color: var(--color) !important;
    background: var(--base) !important;
}

* {
    scrollbar-color: rgba(var(--accent-rgb), 0.5) var(--base);
    scrollbar-width: thin;
}
a, .btn-link {
    color: var(--accent) !important;
}

.btn-primary {
    color: var(--color);
    background-color: var(--primary);
    border-color: var(--primary);
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]):not(:focus) {
    outline: 1px solid var(--modified);
}

.invalid {
    outline: 1px solid var(--error);
}

.validation-message {
    color: var(--error);
}

#blazor-error-ui {
    background: var(--base);
    border-top: solid 1px rgba(var(--accent-rgb), 0.5);
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .blazor-error-ui-wrapper {
        display: flex;
        flex-direction: row;
    }

    .errormessage {
        flex-grow: 1;
    }

    .dismiss {
        margin-left:1rem;
        cursor: pointer;
    }
}


::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track{
    background: var(--base) !important;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
    &:not(:hover){
        background:rgba(var(--accent-rgb), 0.5) !important;
    }
    &:hover
    {
        background:var(--accent) !important;
    }
}
::-webkit-scrollbar-corner {background-color: var(--base) !important;}
.draggable {
    cursor:grab;
    
    &:active {
        cursor: grabbing !important;
    }
    &:hover {
        cursor:grab;
    }
}
.dragging {
    cursor: grabbing;
}

.background-overlay {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    background:rgba(var(--base-rgb), 0.7);
}
button {
    .fas, .far {
        width:1rem;
    }
}

.row {
    flex-wrap:nowrap !important;
}


#unsupported-browser, .update-available {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 1.5rem;
    font-size: 1rem;
    background: var(--base);
    border-bottom: solid 1px var(--accent);
    color: var(--accent);
    z-index: 100;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    letter-spacing: 2px;

    .dismiss {
        position: absolute;
        top: 1.25rem;
        right: 1.5rem;
        cursor: pointer;
        color: var(--accent);
    }
}
.update-available {
    color:var(--color);
}
.flow-template-description {
    white-space: pre-wrap;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-style: italic;
    color: var(--color-darkest);
    white-space: pre-wrap;
    margin-left: 14rem;
    margin-top: 0.25rem;
}
@media screen and (max-width: 576px){
    .flow-template-description {
        margin-left:0;
    }
}

hr {
    border-top-color: var(--border-color);
}

input[type=file]{

}


.box.info {
    padding:1rem 1rem 1rem 3rem ;
    color:var(--yellow);
    position:relative;
    border:dotted 1px var(--yellow);
    white-space:pre-line !important;
    &::before {
        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f071";
        position:absolute;
        left:1rem;
    }
    a {
        color: var(--yellow) !important;
        font-weight: bold;
        text-decoration: underline;
    }
}




.search-pane {    
    &.visible {
        display:unset;
        z-index:10000;
    }
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 16rem;
    z-index: 2;
    background: var(--base-darker);
    padding: 0 1rem;
    border-right:solid 1px var(--border-color);
    .search-head{
        font-size: 1.25rem;
        padding: 0.75rem 0 0.5rem;
        text-transform: uppercase;
        border-bottom: solid 1px var(--accent);
        margin-bottom: 0.5rem;
    }
    .search-fields {
        .search-field {
            display:block;
            margin-bottom:1rem;
            .label, .value
            {
                text-align:unset;
                width: 100%;
                display:block;
            }
            .label {
                margin-bottom:0.25rem;
            }

            &.inline-switch {
                display:flex;
                margin: 0 0 1rem;
                .value {
                    width:4rem;
                    padding-top:1px;
                    text-align: right;
                }
            }
        }
    }
    .search-submit {
        text-align: right;
    }

    .close {
        position: absolute;
        right: 0.5rem;
        top: 0.75rem;
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
        text-align: center;
        &:after{
            display: inline-block;
            content: "\00d7"; /* This will render the 'X' */
            color:white;
        }
    }
    .input .value.range {
        width:100%;
        input {
            display:inline-block;
            width:calc(50% - 0.9rem);
        }
    }
    input[type=text], input[type=number], select {
        width:100%;        
    }
    select {
        background:var(--input-background);
        color:var(--color);
        padding: 2px;
        border: solid 1px transparent !important;
    }
}
.daterangeinput {
    background: var(--input-background);
    color: var(--color);
    cursor: pointer;
    padding: 0.1rem 0.25rem;
    border: 1px solid var(--border-color);
    .fa-chevron-down
    {
        font-size: 0.65rem;
        position: relative;
        top: 0.45rem;
    }
}

.daterangepicker  {

    background: var(--input-background) !important;
    border: solid 1px var(--border-color) !important;;
    .calendar-table{
        background: var(--base) !important;;
        color: var(--color) !important;;
        border: solid 1px var(--border-color) !important;;
    }
    td.off {
        background: var(--base-darkest) !important;;
    }
    td:hover {
        background: var(--accent) !important;
        color: var(--color) !important;
    }
    td.active {
        background-color:rgba(var(--accent-rgb), 0.5) !important;;
        color:var(--color) !important;
    }
    td.in-range:not(.start-date):not(.end-date) {
        background-color: var(--input-background) !important;
        color:var(--color) !important;
    }
    select {
        background: var(--input-background) !important;
        border: solid 1px var(--border-color) !important;
    }
    .applyBtn:disabled {
        display: none !important;
    }
    .ranges li.active
    {
        background:var(--accent) !important;
        color: var(--color) !important;
    }
    .ranges li:hover
    {
        background:rgba(var(--accent-rgb), 0.5) !important;
        color: var(--color) !important;
    }
}

@media screen and (min-width: 850px) {
    .dashboard {
        > div {
            margin: unset;
        }

        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(30rem, 1fr));
        grid-gap: 1rem;
        grid-auto-rows: 1fr;
    }
}


.portlet {
    box-shadow: 0 3px 10px rgba(var(--color-rgb), 0.1);
    background: rgba(var(--base), 0.2);

    .title {
        height: 2.5rem;
        color: var(--color);
        padding: 0.25rem 0.5rem;
        i:not(.fa-trash) {
            color:var(--accent);
            margin-right: 0.5rem;
        }
        .fa-trash {
            display:none;
            position: absolute;
            right: 1rem;
            top: 0.5rem;
            cursor: pointer;
            &:hover {
                color:var(--accent);
            }
        }
        &:hover .fa-trash {
            display:unset;
        }        
    }
    .content {
        padding:0;
        margin:0;
        height:calc(100% - 3rem);
        padding-left: 0.25rem;
        width: calc(100% - 0.25rem);
        > div {
            max-height: 100%;
            height: 100%;
        }
        
        table {
            width:100%;
            font-size:0.85rem !important;
            max-height: 100%;
            height: 100%;
        }
        tr td {
            border-top: solid 1px rgba(var(--color-rgb), 0.1);
            padding: 0.18rem;
        }
        td a {
            cursor:pointer;
            color:var(--color) !important;
            &:hover {
                text-decoration: underline !important;
                color:var(--accent) !important;
            }
        }
        tr th:first-child, tr td:first-child {
            padding-left:0.5rem;
        }
        tbody {
            display: block;
            overflow: auto;
            width:100%;
            max-height: 100%;
            height: 100%;
        }
        thead, tbody tr {
            display: table;
            width: 100%;
        }
        th + th, td + td {
            text-align: center;
        }
        .flow-bar{
            height: 1rem;
         }
    }

    &.chart-TreeMap .content{
        padding-left:0.75rem;
    }
    
    .no-data {
        text-align: center;
        position: relative;
        height: 100%;
        > span {
            position:absolute;
            top:40%;
            left:0;
            right:0;
        }
        i {
            margin-right:0.5rem;
            color:var(--accent);
        }
    }
    .processing-runners {
        display:grid;
        grid-gap: 0.5rem;
        grid-auto-rows: 1fr;
        overflow:hidden;
        grid-template-columns: repeat(2, 1fr);
        &.runners-1 {
            grid-template-columns: 1fr;
        }
        &.runners-1, &.runners-2, &.runners-3 {
            .runner {
                height:125px;
            }
            .buttons {
                bottom:0.25rem;
            }
        }
    }
    .runner {
        height:142px;
        display:flex;
        flex-direction: row;
        border:solid 1px var(--border-color);
        .info {
            flex-grow:1;
            margin: 0.5rem 0;
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            grid-auto-rows: min-content
        }
        @media screen and (max-width:1200px){
            .info {
                display:flex;
                flex-direction: column;
            }
            .lv.library {
                display:none;
            }
        }
        .lv.w-2 {
            grid-column: 1 / 3;
        }
        .chart {
            min-width: 170px;
            width: 170px;
            max-width: 170px;
            .apexcharts-datalabel-label {
                // --color: #27b3b9;
                fill:var(--color) !important;
            }
        }        
        .lv {
            font-size:0.9rem;
            display:flex;
            flex-direction: row;
            .l {
                width:4rem;
                min-width:4rem;
                overflow:hidden;
                text-overflow:ellipsis;
                opacity:0.6;
                text-align: right;
                padding-right:0.5rem;
                &::after{
                    content:':';
                }
            }
            .v {        
                overflow: hidden;
                text-overflow: ellipsis;
            }
            + .lv {
                border-top:solid 1px var(--border-color);
            }
        }
        .apexcharts-canvas {
            position:relative;
            top:-0.5rem;
        }
        .buttons {
            position:absolute;
            bottom:0.75rem;
            right:0;
            display:flex;
            flex-direction: row;
            .btn {
                transform: scale(0.9);
                width: 5rem;
            }
        }
    }
}

.vi-container.fix-width {
    max-width: unset !important;
    .top-row {
        max-width:1440px;
        
    }
    > .content {
        > div {
            max-width:1400px;
        }
    }
    
}

.draghandle {
    cursor:grab;
}
.grid-stack-item {
    overflow:hidden;
}

/** step pointer start */

@media screen and (max-width:850px){
    .not-configured-pointer {
        display:none;
    }
}

@media screen and (min-width:850px) {
    .not-configured-pointer {
        position: absolute;
        right: -9px;
        top:5px;
        width: 75px;
        background: var(--accent);
        height: 25px;
        line-height: 25px;
        margin-bottom: 30px;
        text-align: center;
        color: var(--color);
        animation: bounce 1.75s infinite;
        box-shadow: 0 3px 10px rgba(var(--accent-rgb), 0.2);

        &:before {
            content: "";
            position: absolute;
            left: -10px;
            top: 0;
            border-top: 12px solid transparent;
            border-bottom: 14px solid transparent;
            border-right: 10px solid var(--accent);
        }
    }
    @keyframes bounce {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(-10px);
        }
        100% {
            transform: translateX(0);
        }
    }
}
@media screen and (max-height:856px) {
    .not-configured-pointer {
        top:3px;
    }
}

/** step pointer end */


.dashboard-selector {
    display: inline-block;
    border: solid 1px var(--accent);
    position:relative;
    top:2px;
    margin-right:0.5rem;
    *
    {
        border-radius: 0;
        background-color: var(--base);
        color: var(--color);
        border-color:black !important;
        outline:none !important;
    }
    &::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        content: "\f107";
        left: 0.65rem;
        top: 0.35rem;
        pointer-events: none;
    }
    
    select {
        width:18rem;
        border:none;
        background:transparent;
        color:var(--color);
        height:2.076rem;
        outline:none !important;
        padding-right:4rem;
        padding-left:2rem;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance:none;
    }
    button {
        width:2rem !important;
        border:none !important;
        position:absolute;
        right:0;
        height: 2rem !important;
        &:disabled i {
            color: rgba(var(--color-rgb), 0.35) !important;
        }
        
        + button {
            right:2rem;
        }
    }
}

.PagesPortlet {
    .fields {
        display: grid !important;
        grid-gap: 0.5rem;
        grid-auto-rows: 1fr;
        overflow:hidden;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content;
        height:unset !important;;
    }
    .row {
        flex-direction: column !important;
    }
    .empty {
        display:none;
    }
}