@import url("blocker.css");
@import url("inputs.css");
@import url("buttons.css");
@import url("radzen.css");
html {
  overflow: hidden;
}

@media screen and (max-width: 849.99px) {
  html, body, #app, .page {
    height: 100%;
  }
}
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: var(--color) !important;
  background: var(--base) !important;
}

* {
  scrollbar-color: rgba(var(--accent-rgb), 0.5) var(--base);
  scrollbar-width: thin;
}

a, .btn-link {
  color: var(--accent) !important;
}

.btn-primary {
  color: var(--color);
  background-color: var(--primary);
  border-color: var(--primary);
}

.content {
  padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]):not(:focus) {
  outline: 1px solid var(--modified);
}

.invalid {
  outline: 1px solid var(--error);
}

.validation-message {
  color: var(--error);
}

#blazor-error-ui {
  background: var(--base);
  border-top: solid 1px rgba(var(--accent-rgb), 0.5);
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#blazor-error-ui .blazor-error-ui-wrapper {
  display: flex;
  flex-direction: row;
}
#blazor-error-ui .errormessage {
  flex-grow: 1;
}
#blazor-error-ui .dismiss {
  margin-left: 1rem;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--base) !important;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}
::-webkit-scrollbar-thumb:not(:hover) {
  background: rgba(var(--accent-rgb), 0.5) !important;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent) !important;
}

::-webkit-scrollbar-corner {
  background-color: var(--base) !important;
}

.draggable {
  cursor: grab;
}
.draggable:active {
  cursor: grabbing !important;
}
.draggable:hover {
  cursor: grab;
}

.dragging {
  cursor: grabbing;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(var(--base-rgb), 0.7);
}

.vi-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  min-width: 20rem;
  box-shadow: 0 3px 10px rgba(var(--color-rgb), 0.1);
  background: rgba(var(--base-rgb), 0.8);
  padding: 1rem;
}
.vi-modal .vi-modal-title {
  color: var(--accent);
}
.vi-modal .vi-modal-body {
  margin: 1rem 0;
}
.vi-modal .vi-modal-footer {
  text-align: right;
}
.vi-modal .vi-modal-footer button {
  width: 6rem;
  padding: 0;
}

button .fas, button .far {
  width: 1rem;
}

.row {
  flex-wrap: nowrap !important;
}

.shrinkage {
  width: 100%;
  background: var(--input-background);
  height: 1rem;
  position: relative;
}
.shrinkage .amount {
  background: var(--accent);
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
}
