button:not(.flowtable-button):not(.navbar-toggler) {
  font-size: 0.8rem !important;
  text-transform: uppercase;
  border-radius: unset !important;
  height: 2.1875rem;
  font-weight: normal;
  outline: none !important;
  line-height: initial;
  box-shadow: none;
  border-radius: unset !important;
  font-size: 0.8rem !important;
  text-transform: uppercase;
  border: solid 1px var(--accent);
  background-color: transparent;
  color: var(--color);
}
button:not(.flowtable-button):not(.navbar-toggler):hover:not(:disabled), button:not(.flowtable-button):not(.navbar-toggler):active:not(:disabled) {
  background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
  box-shadow: inset 0 -3px 0 0 var(--accent) !important;
}
button:not(.flowtable-button):not(.navbar-toggler):disabled {
  border-color: var(--input-background);
  color: var(--input-background);
}
