

.flow-modal {
    z-index: 5;
    padding: 1rem;
}
@media screen and (min-width: 578.0001px) {
    .flow-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 20rem;
        box-shadow: 0 3px 10px rgba(var(--color-rgb), 0.1);
        background: rgba(var(--base-rgb), 0.8);
    }
    .flow-modal-footer {
        text-align: right;

        button {
            width: 6rem;
            padding: 0;
        }
    }
}

@media screen and (max-width:578px) {
    .flow-modal {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--base);
    }
    .flow-modal-inner {
        height:100%;
        display:flex;
        flex-direction:column;
    }
    .flow-modal-body {
        flex-grow:1;
        position:relative;
    }

    .flow-modal-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            flex-grow: 1;
            flex-basis: 0;
            margin: auto;

            + button {
                margin-left: 1rem;
            }
        }
    }
}

.flow-modal-title {
    color: var(--accent);
}

.flow-modal-body {
    margin: 1rem 0;
}

