@import url(radzen.table.css);

.rz-fieldset-legend-text {
    font-size:1.2rem;
    color:var(--accent);
}

.rz-button
{
    font-size:0.8rem !important;
    text-transform: uppercase;
    &.btn-primary {
        border:solid 1px var(--accent) !important;
        background-color: transparent !important;
        color:var(--color) !important;
        &:hover {
            background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
            box-shadow: inset 0 -3px 0 0 var(--accent) !important;
        }
    }
}
.rz-dropdown-panel {
    background:var(--input-background) !important;
    color:var(--color) !important;
}
.rz-dropdown-item:hover {
    background-color: var(--accent) !important;
    color:var(--color) !important;
}
.rz-fieldset {
    border-color: var(--accent) !important;
    border-radius: 0.5rem;
}
.rz-button {
    border-radius: unset !important;
}

.rz-chkbox-box
{
    border-color: var(--input-background) !important;
    background-color: transparent !important;
    &.rz-state-active
    {
        background-color:transparent !important;
        border-color: var(--accent) !important;
    }
    
    .rzi-check:before {
        color: var(--accent);
    }
}

.rz-notification {
    top:1rem !important;
    right:1rem  !important;
    .rz-growl-message-error .rz-growl-item {
        background-color: var(--base);
        border:solid 1px var(--error);
        color:var(--error);
    }
}