body {
    --color: rgb(240, 240, 240);
    --color-rgb:240, 240, 240;
    --color-darker: rgb(220, 220, 220);
    --color-darke-rgb: 220, 220, 220;
    --color-darkest: rgb(160, 160, 160);
    --color-darkest-rgb: 160, 160, 160;
    --base: rgb(17, 18, 20);    
    --base-rgb:7, 18, 20;
    --base-darker: rgb(6, 17, 19);
    --base-darker-rgb: 6, 17, 19;
    --base-darkest: rgb(4, 11, 12);
    --base-darkest-rgb:4, 11, 12;
    --accent:rgb(255, 0, 144);
    --accent-rgb:255, 0, 144;

    --border-color:rgba(var(--color-rgb), 0.1);

    --input-background: rgb(49, 49, 49);
    --input-background-rgb: 49, 49, 49;

    --primary: #0366d6;
    --error: #ff4d76;
    --modified:rgba(var(--accent-rgb), 0.4);

    
    // flow colours
    --flow-logic: var(--orange);
    --flow-input: var(--indigo);
    --flow-output: var(--green);
    --flow-process: var(--cyan);
    --flow-build-start: var(--teal);
    --flow-build-end: var(--teal);
    --flow-build-part: var(--blue);
}