@namespace ViWatcher.Client.Components.Inputs
@inherits Input<string>
@using BlazorMonaco

<div class="row"> 
    <MonacoEditor @ref="Editor" ConstructionOptions="EditorConstructionOptions" OnDidInit="OnEditorInit" />
</div>
