.row {
  flex-grow: 1;
  margin: 1rem 0 0 !important;
}
.row:not(.help) {
  position: relative;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
}

::deep .monaco-editor-container {
  position: absolute;
  top: 0;
  left: 1rem;
  right: 0;
  bottom: 0;
}

.row.help {
  margin: 0.25rem 1rem 0 !important;
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-darkest);
  white-space: pre-wrap;
}

::deep .monaco-highlighted-label span:not(.highlight) {
  color: white !important;
}
