@namespace FileFlows.Client.Components.Inputs
@inherits Input<string>
@using BlazorMonaco

<div class="row" @onkeydown="OnKeyDown">
    <MonacoEditor @ref="CodeEditor" ConstructionOptions="EditorConstructionOptions" OnDidInit="OnEditorInit"
        OnDidBlurEditorText="OnBlur" />
</div>

@if (string.IsNullOrEmpty(Help) == false)
{
    <div class="row help">
        <span class="help-text">@Help</span>
    </div>
}