@namespace FileFlows.Client.Components.Inputs
@inherits Input<string>
@using BlazorMonaco

<div class="row">
    <MonacoEditor @ref="CodeEditor" ConstructionOptions="EditorConstructionOptions" OnDidInit="OnEditorInit"
        OnDidBlurEditorText="OnBlur" />
</div>
