@namespace FileFlows.Client.Components.Inputs
@inherits Input<string>
@using BlazorMonaco

<div class="row" @onkeydown="OnKeyDown">
    <MonacoEditor @ref="CodeEditor" ConstructionOptions="EditorConstructionOptions" OnDidInit="OnEditorInit"
        OnDidBlurEditorText="OnBlur" />
</div>

@{
    bool invalid = string.IsNullOrEmpty(ErrorMessage) == false;
}
@if (invalid && Disabled != true)
{
    <div class="row mt-0 @(invalid ? "error" : "")">
        <div class="input-label"></div>
        <div class="input-value">
            <span class="error-text">@ErrorMessage</span>
        </div>
    </div>
}
@if (string.IsNullOrEmpty(Help) == false)
{
    <div class="row help">
        <span class="help-text">@Help</span>
    </div>
}