.help-text {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-darkest);
  white-space: pre-wrap;
}

.input-label {
  margin-bottom: auto;
  color: rgba(var(--color-rgb), 0.7);
}

.error-text {
  font-size: 0.8rem;
  color: var(--accent);
  white-space: pre-wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.input-label {
  width: 14rem;
  margin: 0.4rem auto auto;
}

.input-value {
  flex-grow: 1;
  position: relative;
  margin: 1px;
  /* one pixel margin for outline of selected inputs */
}
