@inherits LayoutComponentBase

@namespace FileFlows.Client.Shared

<div class="page">
    <div class="sidebar">
        <NavMenu @ref="Menu" />
    </div>

    <div class="main">
        @if (Blocker != null && Menu != null && Editor != null)
        {
            <CascadingValue Value="Menu" IsFixed="true">
                <CascadingValue Value="Blocker" IsFixed="true">
                    <CascadingValue Value="Editor" IsFixed="true">
                        @Body
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        }

        <Blocker @ref="Blocker"></Blocker>
    </div>
</div>


<Editor @ref="Editor"></Editor>

<FileFlows.Client.Components.Dialogs.Confirm />
<FileFlows.Client.Components.Dialogs.Prompt />
<FileFlows.Client.Components.Dialogs.FileBrowser />
<FileFlows.Client.Components.Dialogs.ImportDialog />
<FileFlows.Client.Components.Toast />

<VersionUpdateChecker />