@inherits LayoutComponentBase

@namespace ViWatcher.Client.Shared

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<div class="page">
    <div class="sidebar">
        <NavMenu @ref="Menu" />
    </div>

    <div class="main">
        @if(Blocker != null && Menu != null){
            <CascadingValue Value="Menu" IsFixed="true">
                <CascadingValue Value="Blocker" IsFixed="true">
                    @Body
                </CascadingValue>
            </CascadingValue>
        }

        <Blocker @ref="Blocker"></Blocker>
    </div>
</div>
