@namespace ViWatcher.Client.Shared

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <span class="fas fa-video" aria-hidden="true"></span>
        ViWatcher
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @foreach(var item in MenuItems)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="@item.Url" Match="NavLinkMatch.All" @onclick="() => SetActive(item)">
                    <span class="@item.Icon" aria-hidden="true"></span> @item.Title
                </NavLink>
            </li>
        }
    </ul>
</div>