.navbar-toggler {
    background-color: transparent;
    outline:none !important;
    .fas, .far, .fab {
        font-size:1.3rem;
        padding-top:0.2rem;
    }
}

.top-row {
    height: 3.5rem;
}

.navbar-brand, .page-title {
    font-size: 1.5rem;
    font-weight: bold;
    display:none;
    cursor:pointer;
    svg {
        margin-right:0.25rem;
        position: relative;
        top:-0.1rem;
    }
    .icon {
        margin-right:0.5rem;
        font-size:1.8rem;
        color:var(--accent);
    }
}

.nav {
    .fas, .far, .fab {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }
}

.nav-menu-group, .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-menu-group {
    padding-left: 1rem;
    text-transform: uppercase;
    font-weight:700;
    padding-top:0.5rem;

    &:first-of-type {
        padding-top: 1.5rem;
    }

    .icon {
        display: none;
    }
}

.nav-item {
    position: relative;
    ::deep a {
        padding-left:2rem;
        height: 2.3rem;
        display: flex;
        align-items: center;
        color: var(--color) !important;
        border-left:solid 0.5rem transparent;
        &.active {
            background-color: rgba(var(--accent-rgb),0.3);
            border-color:var(--accent);
        }
        &:hover {
            background-color: rgba(var(--accent-rgb),0.1);
        }
        
    }
}
.support-links {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    @media screen and (max-width:849.99px) {
        display:none;
    }
    a {
        color: rgba(var(--color-rgb), 0.4) !important;
        padding: 0 0.25rem;
        &:hover {
            color:var(--accent) !important;
        }
    }
}
@media screen and (min-width:850px) {
    .nav-item.discord, .nav-item.forum {
        display: none;
    }
}
.page.collapsed {
    .support-links {
        display: none;
    }
    .nav-item.discord, .nav-item.forum {
        display:unset;
    }
    .bubbles {
        .bubble + .bubble {
            display:none;
        }
        bottom:2px;
        right: unset;
        left:2rem;
    }
}
.version-info { 
    display:none;
    a {
        color:rgba(var(--color-rgb), 0.4) !important;
        &:hover {
            color:var(--accent);
        }
    }
}
@media (min-width: 850px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    .navbar-brand {
        display:unset;
    }
    .version-info {
        display: unset;
        position: absolute;
        bottom: 1rem;
        width: 100%;
        text-align: center;
        color: rgba(var(--color-rgb), 0.4);
    }
}
@media (max-width: 849.99px) {
    .nav-item.flows {
        display:none;
    }
    .page-title{
        display:unset;
    }
    .nav-menu-group {
        grid-column-start: 1;
        grid-column-end: -1;        
        height:2rem;
        &:not(:first-of-type)
        {
            margin-top:1.5rem !important;
        }
        .text-label {
            margin-left:1rem;
        }
    }
    .nav-menu-container:not(.collapsed)
    {
        position: fixed;
        top: 3.7rem;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        background: var(--base);
        ul {
            grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
            display:grid;
            flex-direction:unset !important;
            grid-gap: 0.5rem;
            margin:1rem;
        }
        li {
            display:block;
            padding: 0 !important;
            margin:0;
            .icon {
                font-size:3rem;
                width: 100%;
                margin-bottom: 0.5rem;
            }
            a {
                height: 6rem;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 0;
                border:none;
                place-content: center;
                &.active {
                    color:var(--accent) !important;
                    background:unset;
                }
                &:hover, &:focus {
                    background:none !important;
                }
            }
        }
        .version-info {
            display: block;
            width: 100%;
            text-align: center;
            margin: 3rem 0;
        }
    }
}

@media screen and (max-height:610px){
    .support-links, .version-info {
        display: none !important;
    }
}

@media screen and (max-height:890px){
    .nav-item {
        padding-bottom:0.25rem;
        ::deep a {
            height:2rem;
        }
    }
    .nav-menu-group {
        padding-top:0.25rem;
    }
}

@media screen and (max-height:796px) 
{
    .nav-menu-group {
        display:none;
    }
    .nav-menu-container {
        margin-top:1rem;
    }
}

.bubbles {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0.5rem;
    @media (max-width:849.99px) {
        margin: 0 !important;
        display: flex !important;
        flex-direction: row;
        place-content: center;
        position: absolute;
        bottom: -1rem;
        left: 0;
        right: 0;
        .bubble {
            margin: 0 !important;
        }
    }

    .bubble {
        border: solid 1px var(--bubble-color);
        border-radius: 1rem;
        font-size: 0.8rem;
        background: var(--bubble-color);
        display: inline-block;
        line-height: 1rem;
        height: 1.2rem;
        text-align: center;
        width: 1.2rem;
        filter: drop-shadow(2px 3px 1px rgba(51, 51, 51, 0.6666666667));

        &.Unprocessed {
            --bubble-color: var(--blue);
        }

        &.Failed {
            --bubble-color: var(--red);
        }

        &.Processing {
            --bubble-color: var(--green);
        }
        &.d-00 {
            min-width: 1.5rem;
        }
        &.d-000 {
            min-width: 2.1rem;
        }
        &.d-0000 {
            min-width: 2.7rem;
        }
        &.d-00000 {
            min-width: 3rem;
        }
        + .bubble {
            margin-left:0.25rem;
        }
    }
}