.navbar-toggler {
  background-color: transparent;
  outline: none !important;
}
.navbar-toggler .fas, .navbar-toggler .far, .navbar-toggler .fab {
  font-size: 1.3rem;
  padding-top: 0.2rem;
}

.top-row {
  height: 3.5rem;
}

.navbar-brand {
  margin: 0.25rem 0 0 0.75rem;
}

.navbar-brand, .page-title {
  font-size: 1.5rem;
  font-weight: bold;
  display: none;
  cursor: pointer;
}
.navbar-brand.navbar-brand, .page-title.navbar-brand {
  font-style: italic;
  color: var(--accent) !important;
}
.navbar-brand svg, .page-title svg {
  margin-right: 0.25rem;
  position: relative;
  top: -0.1rem;
}
.navbar-brand .icon, .page-title .icon {
  margin-right: 0.5rem;
  font-size: 1.8rem;
  color: var(--accent);
}

.nav .fas, .nav .far, .nav .fab {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.nav-menu-group, .nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-menu-group {
  padding-left: 1rem;
  text-transform: uppercase;
}
.nav-menu-group:first-of-type {
  padding-top: 1.5rem;
}
.nav-menu-group .icon {
  display: none;
}

.nav-item {
  position: relative;
}
.nav-item ::deep a {
  padding-left: 2rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  line-height: 2.5rem;
  color: var(--color) !important;
  border-left: solid 0.5rem transparent;
}
.nav-item ::deep a.active {
  background-color: rgba(var(--accent-rgb), 0.3);
  border-color: var(--accent);
}
.nav-item ::deep a:hover {
  background-color: rgba(var(--accent-rgb), 0.1);
}

.support-links {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.support-links a {
  color: rgba(var(--color-rgb), 0.4) !important;
  padding: 0 0.25rem;
}
.support-links a:hover {
  color: var(--accent) !important;
}

.nav-item.discord, .nav-item.forum {
  display: none;
}

.page.collapsed .support-links {
  display: none;
}
.page.collapsed .nav-item.discord, .page.collapsed .nav-item.forum {
  display: unset;
}
.page.collapsed .bubbles {
  bottom: 2px;
  right: unset;
  left: 2rem;
}
.page.collapsed .bubbles .bubble + .bubble {
  display: none;
}

.version-info {
  display: none;
}

@media (min-width: 850px) {
  .navbar-toggler {
    display: none;
  }

  .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }

  .navbar-brand {
    display: unset;
  }

  .version-info {
    display: unset;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    color: rgba(var(--color-rgb), 0.4);
  }
}
@media (max-width: 849.99px) {
  .nav-item.flows {
    display: none;
  }

  .page-title {
    display: unset;
  }

  .nav-menu-group {
    display: none;
  }
}
@media screen and (max-height: 572px) {
  .support-links, .version-info {
    display: none !important;
  }
}
@media screen and (max-height: 856px) {
  .nav-item {
    padding-bottom: 0.25rem;
  }
  .nav-item ::deep a {
    height: 2rem;
  }

  .nav-menu-group {
    padding-top: 0.25rem;
  }
}
@media screen and (max-height: 726px) {
  .nav-menu-group {
    display: none;
  }
}
.bubbles {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0.5rem;
}
.bubbles .bubble {
  border: solid 1px var(--bubble-color);
  border-radius: 1rem;
  font-size: 0.8rem;
  background: var(--bubble-color);
  display: inline-block;
  line-height: 1rem;
  height: 1.2rem;
  text-align: center;
  width: 1.2rem;
  filter: drop-shadow(2px 3px 1px rgba(51, 51, 51, 0.6666666667));
}
.bubbles .bubble.Unprocessed {
  --bubble-color: var(--blue);
}
.bubbles .bubble.Failed {
  --bubble-color: var(--red);
}
.bubbles .bubble.Processing {
  --bubble-color: var(--green);
}
.bubbles .bubble.d-00 {
  min-width: 1.5rem;
}
.bubbles .bubble.d-000 {
  min-width: 1.9rem;
}
.bubbles .bubble.d-0000 {
  min-width: 2.2rem;
}
.bubbles .bubble.d-00000 {
  min-width: 2.5rem;
}
.bubbles .bubble + .bubble {
  margin-left: 0.25rem;
}

/*# sourceMappingURL=NavMenu.razor.css.map */
