.navbar-toggler {
    background-color: transparent;
    .fas {
        font-size:1.3rem;
        padding-top:0.2rem;
    }
}

.top-row {
    height: 3.5rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    > span {
        color:var(--accent);
    }
    svg {
        margin-right:0.25rem;
        position: relative;
        top:-0.1rem;
    }
}

.fas {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    &:first-of-type {
        padding-top: 1rem;
    }
    &:last-of-type {
        padding-bottom: 1rem;
    }

    ::deep a {
        height: 2.5rem;
        display: flex;
        align-items: center;
        line-height: 2.5rem;
        color: var(--color) !important;
        border-left:solid 0.5rem transparent;
        &.active {
            background-color: rgba(var(--accent-rgb),0.3);
            border-color:var(--accent);
        }
        &:hover {
            background-color: rgba(var(--accent-rgb),0.1);
        }
        
    }
}
@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
@media (max-width: 640.99px) {
    .nav-item.flows {
        display:none;
    }
}
