.navbar-toggler {
    background-color: transparent;
    outline:none !important;
    .fas, .far, .fab {
        font-size:1.3rem;
        padding-top:0.2rem;
    }
}

.top-row {
    height: 3.5rem;
}
.navbar-brand {
    margin: .25rem 0 0 .75rem;
}

.navbar-brand, .page-title {
    font-size: 1.5rem;
    font-weight: bold;
    &.navbar-brand {
        font-style: italic;
        color:var(--accent) !important;
    }
    display:none;
    cursor:pointer;
    svg {
        margin-right:0.25rem;
        position: relative;
        top:-0.1rem;
    }
    .icon {
        margin-right:0.5rem;
        font-size:1.8rem;
        color:var(--accent);
    }
}

.nav {
    .fas, .far, .fab {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }
}

.nav-menu-group, .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-menu-group {
    padding-left: 1rem;
    padding-top: 1rem;
    text-transform: uppercase;

    &:first-of-type {
        padding-top: 1.5rem;
    }

    .icon {
        display: none;
    }
}

.nav-item {
    position: relative;
    ::deep a {
        padding-left:2rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        line-height: 2.5rem;
        color: var(--color) !important;
        border-left:solid 0.5rem transparent;
        &.active {
            background-color: rgba(var(--accent-rgb),0.3);
            border-color:var(--accent);
        }
        &:hover {
            background-color: rgba(var(--accent-rgb),0.1);
        }
        
    }
}
.support-links {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    a {
        color: rgba(var(--color-rgb), 0.4) !important;
        padding: 0 0.25rem;
        &:hover {
            color:var(--accent) !important;
        }
    }
}
.nav-item.discord, .nav-item.forum{
    display:none;
}
.page.collapsed {
    .support-links {
        display: none;
    }
    .nav-item.discord, .nav-item.forum {
        display:unset;
    }
}
.version-info { 
    display:none;
}
@media (min-width: 850px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    .navbar-brand {
        display:unset;
    }
    .version-info {
        display: unset;
        position: absolute;
        bottom: 1rem;
        width: 100%;
        text-align: center;
        color: rgba(var(--color-rgb), 0.4);
    }
}
@media (max-width: 849.99px) {
    .nav-item.flows {
        display:none;
    }
    .page-title{
        display:unset;
    }
    .nav-menu-group {
        display:none;
    }
}

@media screen and (max-height:534px){
    .support-links, .version-info {
        display: none !important;
    }
}

@media screen and (max-height:856px){
    .nav-item {
        padding-bottom:0.25rem;
        ::deep a {
            height:2rem;
        }
    }
    .nav-menu-group {
        padding-top:0.25rem;
    }
}

@media screen and (max-height:686px) 
{
    .nav-menu-group {
        display:none;
    }
}

