.navbar-toggler {
  background-color: transparent; }
  .navbar-toggler .fas {
    font-size: 1.3rem;
    padding-top: 0.2rem; }

.top-row {
  height: 3.5rem; }

.navbar-brand, .page-title {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  color: var(--accent);
  display: none; }
  .navbar-brand svg, .page-title svg {
    margin-right: 0.25rem;
    position: relative;
    top: -0.1rem; }
  .navbar-brand.page-title, .page-title.page-title {
    color: var(--color); }
  .navbar-brand .icon, .page-title .icon {
    margin-right: 0.25rem;
    font-size: 1.8rem;
    color: var(--accent); }

.fas {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px; }

.nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem; }
  .nav-item:first-of-type {
    padding-top: 1rem; }
  .nav-item:last-of-type {
    padding-bottom: 1rem; }
  .nav-item ::deep a {
    height: 2.5rem;
    display: flex;
    align-items: center;
    line-height: 2.5rem;
    color: var(--color) !important;
    border-left: solid 0.5rem transparent; }
    .nav-item ::deep a.active {
      background-color: rgba(var(--accent-rgb), 0.3);
      border-color: var(--accent); }
    .nav-item ::deep a:hover {
      background-color: rgba(var(--accent-rgb), 0.1); }

@media (min-width: 850px) {
  .navbar-toggler {
    display: none; }
  .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block; }
  .navbar-brand {
    display: unset; } }

@media (max-width: 849.99px) {
  .nav-item.flows {
    display: none; }
  .page-title {
    display: unset; } }
