.flow-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flow-tab-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  border-bottom: solid 1px var(--input-background);
  padding-left: 1rem;
}

@media screen and (max-width: 500px) {
  .flow-tab-buttons {
    padding-left: 0;
  }
}
.tab-button {
  width: 8rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  border-color: var(--input-background) !important;
  position: relative;
  bottom: -1px;
  margin-right: 0.25rem;
}
.tab-button:hover {
  border-color: var(--accent) !important;
}
.tab-button.active {
  border-color: var(--accent) !important;
  border-bottom: 1px solid var(--base) !important;
}
.tab-button:not(.active) {
  font-size: 0.7rem !important;
}

.flow-tabs-content {
  flex-grow: 1;
}
