.vi-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:5;
    
    box-shadow: 0 3px 10px rgba(var(--color-rgb), 0.1);  
    background: rgba(var(--base-rgb), 0.8);
    padding:1rem;
    
    .vi-modal-title {
        color:var(--accent);        
    }
    .vi-modal-body {
        margin:1rem 0;
    }
    .vi-modal-footer {
        text-align: right;
    }
}