@namespace FileFlows.Client.Components.Dialogs

<Modal Title="@Title" Visible="Visible">

    <Body>
        <span>@Message</span>
    </Body>
    <Footer>
        <RadzenButton Click=@Yes Text="@lblYes" />
        <RadzenButton Click=@No Text="@lblNo" />
    </Footer>
</Modal>