@namespace FileFlows.Client.Components.Inputs
@inherits Input<Dictionary<string, object>>

@if (Value?.Any() == true)
{
    <table class="flowtable input-metadata">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var md in metadata)
            {
                @if (md.Name != "General")
                {
                    <tr>
                        <td class="title" colspan="2">@md.Name</td>
                    </tr>
                }
                @foreach (var item in md.Values)
                {
                    <tr>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

