.fillspace {
    flex-grow: 1;
}

.flowtable-row {
    border: solid 1px var(--input-background);
    display: flex;
    flex-direction: row;

    &:not(.flowtable-header-row) {
        border-top: none;
    }

    > span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 2.2rem;
        line-height: 2.2rem;
    }
}
.flowtable-header-row {
    padding-right: 0.7rem;
    font-weight: 600;
    background: rgba(var(--input-background-rgb), 0.3);
}

.flowtable-body {
    height: calc(100% - 2rem);
    overflow-y: scroll;
    overflow-x: hidden;
}

::deep .rz-chkbox {
    position:relative;
    left:0.25rem;
}