@namespace FileFlows.Client.Components.Inputs
@inherits Input<string>

<div class="input-text-variables">
    <InputWrapper Input="@this">
        <VariableInput Uid="@Uid" Variables=@Variables @bind-Value="Value" Placeholder=@Placeholder SubmitEvent="OnSubmit" CloseEvent="OnClose" />
    </InputWrapper>

    <InputWrapper>
        <div class="preview">
            <input @bind-value="@Preview" readonly="readonly" disabled="disabled" />
        </div>
    </InputWrapper>
</div>