::deep .flow-tabs 
{
  max-height:100%;
  .flow-tabs-content {
    overflow: auto;
  }
}

.full-width {
  ::deep
  {
    textarea, input[type=text], input[type=number] {
      max-width: unset;
    }
  }
}