@namespace FileFlows.Client.Components.Inputs
@inherits Input<bool>

<InputWrapper Input="@this">
    <div class="switch-wrapper">
        <RadzenSwitch @bind-Value=@Value />
    </div>
</InputWrapper>
