@namespace FileFlows.Client.Components.Inputs
@inherits Input<bool>

<InputWrapper Input="@this">
    <div class="flow-switch-wrapper">
        <FlowSwitch @bind-Value="@Value" />        
    </div>
</InputWrapper>
