@namespace FileFlows.Client.Components.Common

<label class="flow-switch">
  <input type="checkbox" checked=@(Value ? "checked" : null) @onchange="OnChange">
  <span class="slider round"></span>
</label>