@namespace FileFlows.Client.Components.Common

<label class="flow-switch" @onclick:preventDefault @onclick:stopPropagation @onclick="ToggleValue">
  <input type="checkbox" checked=@(Value ? "checked" : null) @onchange="OnChange" @onclick:stopPropagation>
  <span class="slider round"></span>
</label>