@namespace FileFlows.Client.Components.Inputs
@inherits Input<int>

<InputWrapper Input="@this">
    <div class="input-number-wrapper">
        <div class="radzen-numeric">
            <RadzenNumeric id=@Uid TValue="int" @bind-Value="Value" Placeholder="@Placeholder" Min="0" Max="10000"
                @oninput="@(args => ClearError())" />
        </div>
        @if (string.IsNullOrEmpty(Suffix) == false)
        {
            <div class="suffix">
                @Suffix
            </div>
        }
    </div>
</InputWrapper>