input {
    width:100%;
}
.input-number-wrapper{
    width:100%;
    display:flex;
    flex-direction: row;
}
.radzen-numeric{
    flex-grow:1;
}
.suffix {
    padding:0.25rem 1rem 0;    
    background:rgba(var(--input-background-rgb), 0.5);

}
::deep {
    .rz-spinner{
        width:100%;
        border-color: var(--input-background) !important;
        border-radius: 0 !important;
    }
    .rz-spinner-button {
        border: solid 1px transparent !important;
        background-color: transparent !important;
        width:1rem !important;
        &:hover {
            border-color:var(--accent) !important;
            background-image: unset !important;
            box-shadow: unset !important;
        }
    }
}