@namespace FileFlows.Client.Components.Inputs
@inherits Input<int>

<InputWrapper Input="@this">
    <div>
        <RadzenNumeric id=@Uid TValue="int" @bind-Value="Value" Placeholder="@Placeholder" Min="0" Max="10000"
            @oninput="@(args => ClearError())" />
    </div>
</InputWrapper>