@namespace FileFlow.Client.Components.Inputs
@inherits Input<int>

<InputWrapper Input="@this">
    <div>
        <RadzenNumeric TValue="int" @bind-Value="Value" Placeholder="@Placeholder" Min="0" Max="10000" />
    </div>
</InputWrapper>