.vi-container {
    display:flex;
    flex-direction: column;
    height:100%;
    overflow: hidden;
    max-height: 100vh;
    position: relative;
    &:not(.fullwidth){        
        max-width:1400px;
    }

    &.flex .content {
        display:flex;
        flex-direction: column;
    }
}


@media screen and (min-width: 850px) {  
    .top-row {        
        height: 3.5rem;
        display: flex !important;
        align-items: center;
        padding:1.5rem;
    }
}

.top-row {
    display:none;

    &.show-title {
        height: 3.5rem;
        display: flex !important;
        align-items: center;
        padding:1.5rem;
    }

    .title {
        flex-grow:1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
    }
    .other {
        white-space:nowrap;
        margin-left:1rem;
        margin-right: -0.5rem;
        ::deep button {
            width:7rem;
            padding:unset;
        }
        ::deep a {
            width: 7rem;
            text-align: center;
            display: inline-block;
            padding-top: 0.5rem;
            cursor:pointer;
        }
    }

    ::deep a, .btn-link {
        white-space: nowrap;
        margin-left: .5rem;
    }

    a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .icon {
        margin-right:0.5rem;
        margin-top: .25rem;
        color:var(--accent);
    }
}

.content {
    padding: 1.5rem;
    flex-grow:1;
    overflow: auto;
    position:relative;
}

.bottom-buttons {
    padding: 0 1.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ::deep button {
        flex-grow: 1;
        flex-basis: 0;
        margin: auto;
        + button {
            margin-left:1rem;
        }
    }
}