.dashboard-wrapper {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

.dashboard > div + div {
  margin-top: 1rem;
}

.waiting-icon {
  font-size: 2rem;
}

.worker-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 850px) {
  .dashboard {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(6, calc(16.5% - 2rem));
  }
  .dashboard > div {
    margin: unset;
  }
  .dashboard .worker-wrapper {
    grid-column: 1/5;
  }
  .dashboard .shrinkage-chart {
    grid-column: 5/7;
  }
  .dashboard .shrinkage-chart ::deep > div > div {
    margin: auto;
  }
  .dashboard .library-files.full-width {
    grid-column: 1/7;
  }
  .dashboard .library-files:not(.full-width).upcoming {
    grid-column: 1/4;
  }
  .dashboard .library-files:not(.full-width).finished {
    grid-column: 4/7;
  }

  .waiting-icon {
    font-size: 8rem;
  }

  .worker-wrapper {
    flex-direction: row;
  }

  .actions-wrapper {
    margin-top: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .actions-wrapper .actions {
    text-align: right !important;
  }

  .chart-wrapper {
    width: 17rem !important;
    min-width: 17rem !important;
  }
}
.worker-wrapper {
  box-shadow: 0 3px 10px rgba(var(--color-rgb), 0.1);
  background: rgba(var(--base), 0.2);
  max-width: 100%;
}
.worker-wrapper .chart-wrapper {
  position: relative;
  top: -1rem;
  width: 100%;
  min-width: 100%;
}
.worker-wrapper.waiting .chart-wrapper {
  display: none;
}
.worker-wrapper.waiting .worker-info {
  display: flex;
  flex-direction: row;
}
.worker-wrapper.waiting .worker-info .waiting-icon {
  margin-left: 2rem;
  opacity: 0.5;
}
.worker-wrapper.waiting .worker-info .waiting-message {
  flex-grow: 1;
  margin: auto;
  text-align: center;
}
.worker-wrapper .worker-info {
  padding: 1rem;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  overflow: auto;
}
.worker-wrapper .worker-info .label-value {
  flex-direction: row;
  display: flex;
}
.worker-wrapper .worker-info .label-value .label {
  width: 10rem;
  min-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(var(--color-rgb), 0.5);
}
.worker-wrapper .worker-info .label-value .value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.worker-wrapper .worker-info .actions-wrapper {
  margin-top: 1rem;
}
.worker-wrapper .worker-info .actions-wrapper .actions {
  text-align: center;
}
.worker-wrapper .worker-info .actions-wrapper .actions ::deep button {
  min-width: 7rem;
  padding: 0;
}
.worker-wrapper .worker-info .actions-wrapper .actions ::deep button + button {
  margin-left: 0.5rem;
}

.library-files {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px rgba(var(--color-rgb), 0.1);
  background: rgba(var(--base), 0.2);
}
.library-files .title {
  height: 2.5rem;
  color: var(--accent);
  padding: 0.25rem 0.5rem;
}
.library-files .table-wrapping {
  flex-grow: 1;
}
.library-files:last-child {
  margin-bottom: 2rem;
}

.spacer {
  height: 2rem;
}

@media screen and (max-width: 576px) {
  .worker-info .label-value {
    flex-direction: column !important;
  }

  .working-file {
    display: none !important;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .actions button {
    flex-grow: 1;
    flex-basis: 0;
    margin: auto;
  }
  .actions button + button {
    margin-left: 1rem;
  }

  ::deep .apexcharts-canvas {
    width: 100% !important;
    text-align: center;
  }
}
h1, h2 {
  color: var(--accent);
  font-style: italic;
}

@media screen and (max-width: 850px) {
  .not-configured-pointer {
    display: none;
  }
}
@media screen and (min-width: 850px) {
  .not-configured-pointer {
    position: fixed;
    left: 180px;
    width: 75px;
    background: var(--accent);
    height: 25px;
    line-height: 25px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--color);
    animation: bounce 1.75s infinite;
    box-shadow: 0 3px 10px rgba(var(--accent-rgb), 0.2);
  }
  .not-configured-pointer.step-flows {
    top: 259px;
  }
  .not-configured-pointer.step-library {
    top: 307px;
  }
  .not-configured-pointer:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    border-top: 12px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 10px solid var(--accent);
  }

  @keyframes bounce {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
