.dashboard-wrapper 
{     
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}
.dashboard {
    display:grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, calc(50% - 1rem));

    .worker-wrapper{
        grid-column: 1 / 3;
    }
    .library-files.full-width {
        grid-column: 1 / 3;
    }
}

.worker-wrapper {
    display:flex;
    flex-direction: row;
    box-shadow: 0 3px 10px rgba(var(--color-rgb), 0.1);
    background: rgba(var(--base), 0.2);
    max-width: 100%;
    .chart-wrapper {
        position:relative;
        top:-1rem;
        width:17rem;
        min-width:17rem;
    }
    &.waiting {
        .chart-wrapper {
            display:none;
        }
        .worker-info {
            display:flex;
            flex-direction: row;
            .waiting-icon {
                font-size:8rem;
                margin-left:2rem;
                opacity: 0.5;
            }
            .waiting-message {
                flex-grow:1;
                margin:auto;
                text-align: center;
            }
        }
    }
    .worker-info
    {
        padding:1rem;
        flex-direction: column;
        display:flex;
        flex-grow:1;
        overflow: auto;
        .label-value  {
            flex-direction: row;
            display:flex;
            .label {
                width:10rem;
                min-width: 10rem;                
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color:rgba(var(--color-rgb), 0.5);
            }
            .value {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .actions-wrapper {
            flex-grow:1;
            display:flex;
            flex-direction: column;
            justify-content: end;
            .actions {
                text-align: right;
                ::deep button {
                    min-width:7rem;
                    padding:0;
                    + button {
                        margin-left:0.5rem;
                    }
                }
            }
        }
    }
}

.library-files {
    display:flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgba(var(--color-rgb), 0.1);
    background: rgba(var(--base), 0.2);
    .title {
        height: 2.5rem;
        color: var(--accent);
        padding: 0.25rem 0.5rem;
    }
    .table-wrapping {
        flex-grow:1;
    }
}