.dashboard-wrapper 
{     
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    max-width:1400px;
}

.mobile-view {
    display:none;    
}
@media screen and (max-width: 850px) {
    .mobile-view {
        display: block;
        text-align: center;
        margin:0 0 1rem;
    }
}
.mobile-pause-resume{
    text-align: center;
    margin-bottom: 1rem;
    position: fixed;
    top: 0.75rem;
    z-index: 1000000;
    right: 4.5rem;
    ::deep button {
        border-color: var(--border-color);
        &:focus, &:active, &:hover {
            border-color: var(--accent);            
        }
    }
}